{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {% endblock title %} :: Furniture</title>
    <!-- For-Mobile-Apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="furniture" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!-- //For-Mobile-Apps -->
    <!-- Custom-Stylesheet-Links -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
    
    <!-- //Custom-Stylesheet-Links -->
    <!-- Web-Fonts -->
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Montserrat:400,700' type='text/css'>
    <!-- Logo-Font -->      
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Fredericka+the+Great' type='text/css'>
    <!-- Body-Font -->      
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' type='text/css'>

    <!-- //Web-Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/easy-responsive-tabs.css' %}" />
    <!-- Gallery-CSS -->        
    <link rel="stylesheet" href="{% static 'css/swipebox.css' %}" type="text/css" media="all">

</head>
<body>
    
    {% block content %}
    
        <!-- Gallery -->
        <div class="gallery agileits w3layouts" id="gallery">
                <h3>Gallery</h3>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect agileits w3layouts slow-zoom vertical text-center">
                        <a href="{% static 'images/gallery-1.jpg' %}" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="{% static 'images/gallery-1.jpg' %}" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect agileits w3layouts slow-zoom vertical text-center">
                        <a href="{% static 'images/gallery-2.jpg' %}" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="{% static 'images/gallery-2.jpg' %}" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
                        <a href="{% static 'images/gallery-3.jpg' %}" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="{% static 'images/gallery-3.jpg' %}" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
                        <a href="{% static 'images/gallery-4.jpg' %}" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="{% static 'images/gallery-4.jpg' %}" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
                        <a href="{% static 'images/gallery-5.jpg' %}" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="{% static 'images/gallery-5.jpg' %}" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
                        <a href="{% static 'images/gallery-6.jpg' %}" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="{% static 'images/gallery-6.jpg' %}" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
                        <a href="{% static 'images/gallery-7.jpg' %}" class="b-link-stripe b-animate-go agileits w3layouts swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="{% static 'images/gallery-7.jpg' %}" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
                        <a href="{% static 'images/gallery-8.jpg' %}" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="{% static 'images/gallery-8.jpg' %}" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
                        <a href="{% static 'images/gallery-9.jpg' %}" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="{% static 'images/gallery-9.jpg' %}" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 gal-left agileits w3layouts">
                    <div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
                        <a href="{% static 'images/gallery-10.jpg' %}" class="b-link-stripe b-animate-go swipebox agileits w3layouts">
                            <div class="img-box agileits w3layouts">
                                <img src="{% static 'images/gallery-10.jpg' %}" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
                        <a href="{% static 'images/gallery-11.jpg' %}" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="{% static 'images/gallery-11.jpg' %}" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom vertical text-center agileits w3layouts">
                        <a href="{% static 'images/gallery-12.jpg' %}" class="b-link-stripe b-animate-go agileits w3layouts swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="{% static 'images/gallery-12.jpg' %}" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 gal-left">
                    <div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
                        <a href="{% static 'images/gallery-13.jpg' %}" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="{% static 'images/gallery-13.jpg' %}" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
                        <a href="{% static 'images/gallery-14.jpg' %}" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="{% static 'images/gallery-14.jpg' %}" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
                        <a href="{% static 'images/gallery-15.jpg' %}" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="{% static 'images/gallery-15.jpg' %}" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
                        <a href="{% static 'images/gallery-16.jpg' %}" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="{% static 'images/gallery-16.jpg' %}" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
                        <a href="{% static 'images/gallery-17.jpg' %}" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="{% static 'images/gallery-17.jpg' %}" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
                        <a href="{% static 'images/gallery-18.jpg' %}" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="{% static 'images/gallery-18.jpg' %}" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
                        <a href="{% static 'images/gallery-19.jpg' %}" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="{% static 'images/gallery-19.jpg' %}" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
                        <a href="{% static 'images/gallery-20.jpg' %}" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="{% static 'images/gallery-20.jpg' %}" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
                        <a href="{% static 'images/gallery-21.jpg' %}" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="{% static 'images/gallery-21.jpg' %}" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
                        <a href="{% static 'images/gallery-22.jpg' %}" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="{% static 'images/gallery-22.jpg' %}" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
                        <a href="{% static 'images/gallery-23.jpg' %}" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="{% static 'images/gallery-23.jpg' %}" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
                        <a href="{% static 'images/gallery-24.jpg' %}" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="{% static 'images/gallery-24.jpg' %}" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
                
        </div>
        <!-- //Gallery -->
    {%endblock content %}
    
        <!-- Footer -->
        <div class="footer agileits-w3layouts">
            <div class="container">

                <div class="footer-top w3layouts">
                    <div class="footer-grids w3l-agile">
                        <div class="col-md-3 col-sm-3 address agileinfo">
                            <h5>Address</h5>
                                <ul>
                                    <li>Parma Via Modena</li>
                                    <li>40019</li>
                                    <li>Sant'Agata Bolognese</li>
                                    <li>BO, Italy</li>
                                    <li>Mail : <a href="mailto:mail@example.com">info@example.com</a></li>
                                </ul>
                        </div>
                        <div class="col-md-3 col-sm-3 contact agileinfo">
                            <h5>Phone</h5>
                            <div class="phone">
                                <p>+1 234 456 7890</p>
                                <p>+1 456 789 3450</p>
                            </div>

                            <div class="mail wthree">
                                <form action="#" method="post">
                                    <input type="text" name="Email Address" placeholder="Email Address" required="">
                                    <input type="submit" value="Subscribe">
                                </form>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-6 col-sm-6 connect agileinfo">
                            <h5>Connect</h5>
                            <div class="connect-social w3-agileits">
                                <ul>
                                    <li><a href="#" class="facebook" title="Go to Our Facebook Page"></a></li>
                                    <li><a href="#" class="twitter" title="Go to Our Twitter Account"></a></li>
                                    <li><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></li>
                                    <li><a href="#" class="linkedin" title="Go to Our Linkedin Page"></a></li>
                                    <li><a href="#" class="blogger" title="Go to Our Blogger Account"></a></li>
                                    <li><a href="#" class="tumblr" title="Go to Our Tumblr Page"></a></li>
                                    <li><a href="#" class="rss" title="Go to Our RSS Feed"></a></li>
                                    <li><a href="#" class="vimeo" title="Go to Our Vimeo Channel"></a></li>
                                    <li><a href="#" class="deviantart" title="Go to Our Deviantart Page"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="footer-bottom w3l-agile">
                        <div class="footer-nav w3l">
                            <ul>
                                <li><a class="scroll" href="#">Home</a></li>
                                <li><a class="scroll" href="#about">About</a></li>
                                <li><a class="scroll" href="#services">Services</a></li>
                                <li><a class="scroll" href="#team">Team</a></li>
                                <li><a class="scroll" href="#gallery">Gallery</a></li>
                            </ul>
                        </div>
                        <div class="copyright wthree">
                            <p>&copy; 2016 Capture. All Rights Reserved | Design by <a href="http://clearcode.com.ng" target="_blank"> W3layouts </a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
        </div>
        <!-- //Footer -->

        <!-- Supportive-JavaScript --> 
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <!-- Necessary-JS-File-For-Bootstrap --> 
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

        <!-- Banner-Slider-JavaScript -->
        <script src="{% static 'js/responsiveslides.min.js' %}"></script>
        <script>
            $(function () {
                $("#slider1, #slider2, #slider3, #slider4").responsiveSlides({
                    auto: true,
                    nav: true,
                    speed: 800,
                    namespace: "callbacks",
                    pager: true,
                });
            });
        </script>
        <!-- //Banner-Slider-JavaScript -->

        <!-- Slide-To-Top JavaScript (No-Need-To-Change) -->
        <script type="text/javascript">
            $(document).ready(function() {
                var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 100,
                    easingType: 'linear'
                };
                $().UItoTop({ easingType: 'easeOutQuart' });
            });
        </script>
        <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 0;"> </span></a>
        <!-- //Slide-To-Top JavaScript -->

        <!-- Smooth-Scrolling-JavaScript -->
        <script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
        <script type="text/javascript">
                jQuery(document).ready(function($) {
                    $(".scroll, .navbar li a, .footer li a").click(function(event){
                        $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                    });
                });
        </script>
        <!-- //Smooth-Scrolling-JavaScript -->

    <!-- //Custom-JavaScript-File-Links -->

    <script src="{% static 'js/easyResponsiveTabs.js' %}"></script>
    
    <script type="text/javascript">
    $(document).ready(function() {

        //Vertical Tab
        $('#parentVerticalTab').easyResponsiveTabs({
            type: 'vertical', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo2');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });
</script>
    </body>
    <!-- //Body --> 
<!-- Gallery-JavaScript -->
        <script src="{% static 'js/jquery.swipebox.min.js' %}"></script> 
            <script type="text/javascript">
                jQuery(function($) {
                    $(".swipebox").swipebox();
                });
        </script>
        <!-- //Gallery-JavaScript -->

        <script type="text/javascript">
            $(function(){
             
            });
            $(window).load(function(){
              $('.flexslider').flexslider({
                animation: "slide",
                start: function(slider){
                  $('body').removeClass('loading');
                }
              });
            });
        </script>
        <!-- FlexSlider -->
    </body>
    </html>