{% load staticfiles %}

<!DOCTYPE html>
<html>
<!-- Head -->
<head>

<title>furniture</title>

<!-- For-Mobile-Apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="keywords" content="furniture"> 
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //For-Mobile-Apps -->

<!-- Custom-Stylesheet-Links -->
<!-- Bootstrap-Core-CSS -->     
<link href="{% static 'css/bootstrap.min.css' %}" type="text/css" media="all" />
<!-- Index-Page-CSS -->     
<link href="{% static 'css/style.css' %}" type="text/css" media="all" />
<!-- //Custom-Stylesheet-Links -->

<!-- Web-Fonts -->
<!-- Navbar-Links-Font -->  
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' type='text/css'>
<!-- Logo-Font -->      
<link href='//fonts.googleapis.com/css?family=Fredericka+the+Great' type='text/css'>
<!-- Body-Font -->      
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' type='text/css'>
<!-- //Web-Fonts -->
<link href="{% static 'css/easy-responsive-tabs.css' %}"/>
<!-- Gallery-CSS -->        
<link href="{% static 'css/swipebox.css' %}" type="text/css" media="all">

</head>
<!-- //Head -->
    <!-- Body -->
    <body>
        <!-- Header -->
        <div class="header">
            <div class="col-md-5 header-right">
                <div class="navigation">
                    <!-- Navbar -->
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse hover-effect" id="navbar">
                                <ul>
                                    <li><a href="#about">About</a></li>
                                    <li><a href="#team">Team</a></li>
                                    <li><a href="#services">Services</a></li>
                                    <li><a href="#gallery">Gallery</a></li>
                                    <li><a href="#contact">Contact</a></li>
                                </ul>
                            </div>

                        </div>
                    </nav>
                    <!-- //Navbar -->
                </div>

                <div class="logo">
                    <h1><a href="#">CAPTURE</a></h1>
                    <img src="images/logo-style.png" alt="Capture">
                </div>

                <div class="header-info">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>

                <!-- Social-Icons -->
                <div class="social">
                    <ul class="social-icons">
                        <li><a href="#" class="facebook" title="Go to Our Facebook Page"></a></li>
                        <li><a href="#" class="twitter" title="Go to Our Twitter Account"></a></li>
                        <li><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></li>
                        <li><a href="#" class="instagram" title="Go to Our Instagram Account"></a></li>
                        <li><a href="#" class="youtube" title="Go to Our Youtube Channel"></a></li>
                    </ul>
                </div>
                <!-- //Social-Icons -->
                <div class="clearfix"></div>

            </div>

            <div class="col-md-7 header-left">

                <div class="header-slider">
                    <div class="slider-1">
                        <!-- Slider -->
                        <div class="slider">
                            <ul class="rslides" id="slider1">
                                <li>
                                    <img src="{% static 'images/slide-1.jpg' %}" alt="Sportive">
                                </li>
                                <li>
                                    <img src="{% static 'images/slide-2.jpg' %}" alt="Sportive">
                                </li>
                                <li>
                                    <img src="{% static 'images/slide-3.jpg' %}" alt="Sportive">
                                </li>
                                <li>
                                    <img src="{% static 'images/slide-4.jpg' %}" alt="Sportive">
                                </li>
                                <li>
                                    <img src="{% static 'images/slide-5.jpg" alt="Sportive">
                                </li>
                            </ul>
                        </div>
                        <!-- //Slider -->
                    </div>
                    <div class="slider-2">
                        <!-- Slider -->
                        <div class="slider">
                            <ul class="rslides" id="slider2">
                                <li>
                                    <img src="{% static 'images/slide-6.jpg' %}" alt="Sportive">
                                </li>
                                <li>
                                    <img src="{% static 'images/slide-7.jpg' %}" alt="Sportive">
                                </li>
                                <li>
                                    <img src="{% static 'images/slide-8.jpg' %}" alt="Sportive">
                                </li>
                                <li>
                                    <img src="{% static 'images/slide-9.jpg' %}" alt="Sportive">
                                </li>
                                <li>
                                    <img src="{% static 'images/slide-10.jpg' %}" alt="Sportive">
                                </li>
                            </ul>
                        </div>
                        <!-- //Slider -->
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>

        </div>
        <!-- //Header -->

        <!-- About -->
        <div class="about" id="about">
            <h2>About Us</h2>

            <div class="about-grid1 w3layouts">
                <div class="col-md-6 col-sm-6 about-grid about-info">
                    <h3>Voluptatelit</h3>
                    <p>Etiam sit amet nunc nec magna accumsan ultricies eget a leo. Praesent nec libero aliquet, malesuada nibh et, tincidunt arcu. Aenean porta faucibus nisl. Fusce ultrices nec purus eget consequat. Phasellus pharetra dignissim lacus id rhoncus in nunc nec magna accumsan ultricies eget a leo. Praesent nec libero aliquet, malesuada nibh et, tincidunt arcu. Aenean porta faucibus nisl. Fusce ultrices malesuada.</p>
                </div>
                <div class="col-md-6 col-sm-6 about-grid about-image">
                    <img src="{% static 'images/about-1.jpg' %}" alt="Capture">
                </div>
                <div class="clearfix"></div>
            </div>
 
            <div class="about-grid2 w3l-agile">
                <div class="col-md-6 col-sm-6 about-grid about-image">
                    <img src="{% static 'images/about-2.jpg' %}" alt="Capture">
                </div>
                <div class="col-md-6 col-sm-6 about-grid about-info">
                    <h3>Reprehenderit</h3>
                    <p>Etiam sit amet nunc nec magna accumsan ultricies eget a leo. Praesent nec libero aliquet, malesuada nibh et, tincidunt arcu. Aenean porta faucibus nisl. Fusce ultrices nec purus eget consequat. Phasellus pharetra dignissim lacus id rhoncus in nunc nec magna accumsan ultricies eget a leo. Praesent nec libero aliquet, malesuada nibh et, tincidunt arcu. Aenean porta faucibus nisl. Fusce ultrices malesuada.</p>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="about-grid3 w3l-agile-info">
                <div class="col-md-6 col-sm-6 about-grid about-info">
                    <h3>Exercitation</h3>
                    <p>Etiam sit amet nunc nec magna accumsan ultricies eget a leo. Praesent nec libero aliquet, malesuada nibh et, tincidunt arcu. Aenean porta faucibus nisl. Fusce ultrices nec purus eget consequat. Phasellus pharetra dignissim lacus id rhoncus in nunc nec magna accumsan ultricies eget a leo. Praesent nec libero aliquet, malesuada nibh et, tincidunt arcu. Aenean porta faucibus nisl. Fusce ultrices malesuada.</p>
                </div>
                <div class="col-md-6 col-sm-6 about-grid about-image">
                    <img src="{% static 'images/about-3.jpg' %}" alt="Capture">
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
        <!-- //About -->

        <!-- People -->
        <div class="people">
            <div class="container">

                <!-- Team -->
                <div class="col-md-6 client-slider-1" id="team">

                    <h3>Team</h3>

                    <!-- Slider -->
                    <div class="slider">
                        <ul class="rslides" id="slider3">
                            <li>
                                <figure class="effect-dexter">
                                    <img src="{% static 'images/team-1.jpg' %}" alt="Capture"/>
                                    <figcaption>
                                        <h4>BRUCE <span> WAYNE</span></h4>
                                        <div class="social-two">
                                            <span class="icon"><a href="#" class="facebook" title="Go to Our Facebook Page"></a></span>
                                            <span class="icon"><a href="#" class="twitter" title="Go to Our Twitter Account"></a></span>
                                            <span class="icon"><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></span>
                                            <span class="icon"><a href="#" class="instagram" title="Go to Our Instagram Account"></a></span>
                                        <div>
                                    </figcaption>
                                </figure>
                            </li>
                            <li>
                                <figure class="effect-dexter">
                                    <img src="{% static 'images/team-2.jpg' %}" alt="Capture"/>
                                    <figcaption>
                                        <h4>HARRY <span> ENFEILD</span></h4>
                                        <div class="social-two">
                                            <span class="icon"><a href="#" class="facebook" title="Go to Our Facebook Page"></a></span>
                                            <span class="icon"><a href="#" class="twitter" title="Go to Our Twitter Account"></a></span>
                                            <span class="icon"><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></span>
                                            <span class="icon"><a href="#" class="instagram" title="Go to Our Instagram Account"></a></span>
                                        <div>
                                    </figcaption>
                                </figure>
                            </li>
                            <li>
                                <figure class="effect-dexter">
                                    <img src="{% static 'images/team-3.jpg' %}" alt="Capture"/>
                                    <figcaption>
                                        <h4>MIA <span> ROBERTS</span></h4>
                                        <div class="social-two">
                                            <span class="icon"><a href="#" class="facebook" title="Go to Our Facebook Page"></a></span>
                                            <span class="icon"><a href="#" class="twitter" title="Go to Our Twitter Account"></a></span>
                                            <span class="icon"><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></span>
                                            <span class="icon"><a href="#" class="instagram" title="Go to Our Instagram Account"></a></span>
                                        <div>
                                    </figcaption>
                                </figure>
                            </li>
                            <li>
                                <figure class="effect-dexter">
                                    <img src="{% static 'images/team-4.jpg' %}" alt="Capture"/>
                                    <figcaption>
                                        <h4>CYNTHIA <span> WILLIAMS</span></h4>
                                        <div class="social-two">
                                            <span class="icon"><a href="#" class="facebook" title="Go to Our Facebook Page"></a></span>
                                            <span class="icon"><a href="#" class="twitter" title="Go to Our Twitter Account"></a></span>
                                            <span class="icon"><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></span>
                                            <span class="icon"><a href="#" class="instagram" title="Go to Our Instagram Account"></a></span>
                                        <div>
                                    </figcaption>
                                </figure>
                            </li>
                            <li>
                                <figure class="effect-dexter">
                                    <img src="{% static 'images/team-5.jpg' %}" alt="Capture"/>
                                    <figcaption>
                                        <h4>RONALD <span> HARRISON</span></h4>
                                        <div class="social-two">
                                            <span class="icon"><a href="#" class="facebook" title="Go to Our Facebook Page"></a></span>
                                            <span class="icon"><a href="#" class="twitter" title="Go to Our Twitter Account"></a></span>
                                            <span class="icon"><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></span>
                                            <span class="icon"><a href="#" class="instagram" title="Go to Our Instagram Account"></a></span>
                                        <div>
                                    </figcaption>
                                </figure>
                            </li>
                            <li>
                                <figure class="effect-dexter">
                                    <img src="{% static 'images/team-6.jpg' %}" alt="Capture"/>
                                    <figcaption>
                                        <h4>JOHN <span> MALCOVICH</span></h4>
                                        <div class="social-two">
                                            <span class="icon"><a href="#" class="facebook" title="Go to Our Facebook Page"></a></span>
                                            <span class="icon"><a href="#" class="twitter" title="Go to Our Twitter Account"></a></span>
                                            <span class="icon"><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></span>
                                            <span class="icon"><a href="#" class="instagram" title="Go to Our Instagram Account"></a></span>
                                        <div>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                    <!-- //Slider -->
                </div>
                <!-- //Team -->
                <!-- Clients -->
                <div class="col-md-6 client-slider-2">

                    <h3>Client <span>Feedback</span></h3>
                    <!-- Slider -->
                    <div class="slider">
                        <ul class="rslides" id="slider4">
                            <li>
                                <h4>"Lorem"</h4>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default.</p>
                                <div class="client">
                                    <span>Johann Schmidt</span>
                                    <br>
                                    <span>Entrepreneur</span>
                                </div>
                            </li>
                            <li>
                                <h4>"Ipsum"</h4>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default.</p>
                                <div class="client">
                                    <span>Jeff Daniels</span>
                                    <br>
                                    <span>Cars Dealer</span>
                                </div>
                            </li>
                            <li>
                                <h4>"Dolores"</h4>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default.</p>
                                <div class="client">
                                    <span>Rachel Green</span>
                                    <br>
                                    <span>Museum Curator</span>
                                </div>
                            </li>
                            <li>
                                <h4>"Sitamet"</h4>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default.</p>
                                <div class="client">
                                    <span>Jeff Daniels</span>
                                    <br>
                                    <span>Cars Dealer</span>
                                </div>
                            </li>
                            <li>
                                <h4>"Consectetur"</h4>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default.</p>
                                <div class="client">
                                    <span>Rachel Green</span>
                                    <br>
                                    <span>Museum Curator</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- //Slider -->
                </div>
                <!-- //Clients -->

                <div class="clearfix"></div>

            </div>
        </div>
        <!-- //People -->



        <!-- Tabs -->
        <div class="tabs" id="services">
            <div class="container">

                <h3>Services</h3>
<!--Vertical Tab-->
    <div class="categories-section main-grid-border">
        <div class="container">
            <div class="category-list">
                <div id="parentVerticalTab">
                    <ul class="resp-tabs-list hor_1">
                        <li><img src="images/tab-icon-1.png" alt="Capture"></li>
                        <li><img src="images/tab-icon-2.png" alt="Capture"></li>
                        <li><img src="images/tab-icon-3.png" alt="Capture"></li>
                        <li><img src="images/tab-icon-4.png" alt="Capture"></li>
                        <li><img src="images/tab-icon-5.png" alt="Capture"></li>
                    </ul>
                    <div class="resp-tabs-container hor_1">
                        <div>
                            <div class="service-grid service-info w3l-agileits">
                                <img src="images/tab-icon-1.png" alt="Capture">
                                <h4>Architecto Beatae Vitae</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minima veniam, quis nostrum?</p>
                            </div>
                        </div>
                        <div>
                            <div class="service-grid service-info w3l-agileits">
                                <img src="images/tab-icon-2.png" alt="Capture">
                                <h4>Beatae Vitae Architecto</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minima veniam, quis nostrum?</p>
                            </div>
                        </div>
                        <div>
                            <div class="service-grid service-info w3l-agileits">
                                <img src="images/tab-icon-3.png" alt="Capture">
                                <h4>Architecto Beatae Vitae</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minima veniam, quis nostrum?</p>
                            </div>
                        </div>
                        <div>
                            <div class="service-grid service-info w3l-agileits">
                                <img src="images/tab-icon-4.png" alt="Capture">
                                <h4>Beatae Vitae Architecto</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minima veniam, quis nostrum?</p>
                            </div>
                        </div>
                        <div>
                            <div class="service-grid service-info w3l-agileits">
                                <img src="images/tab-icon-5.png" alt="Capture">
                                <h4>Architecto Beatae Vitae</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minima veniam, quis nostrum?</p>
                            </div>
                        </div>                      
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!--Plug-in Initialisation-->

                <div class="clearfix"></div>

            </div>
        </div>
        <!-- //Tabs -->
        
        <!-- Gallery -->
        <div class="gallery agileits w3layouts" id="gallery">
                <h3>Gallery</h3>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect agileits w3layouts slow-zoom vertical text-center">
                        <a href="images/gallery-1.jpg" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="images/gallery-1.jpg" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect agileits w3layouts slow-zoom vertical text-center">
                        <a href="images/gallery-2.jpg" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="images/gallery-2.jpg" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
                        <a href="images/gallery-3.jpg" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="images/gallery-3.jpg" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
                        <a href="images/gallery-4.jpg" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="images/gallery-4.jpg" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
                        <a href="images/gallery-5.jpg" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="images/gallery-5.jpg" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
                        <a href="images/gallery-6.jpg" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="images/gallery-6.jpg" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
                        <a href="images/gallery-7.jpg" class="b-link-stripe b-animate-go agileits w3layouts swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="images/gallery-7.jpg" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
                        <a href="images/gallery-8.jpg" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="images/gallery-8.jpg" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
                        <a href="images/gallery-9.jpg" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="images/gallery-9.jpg" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 gal-left agileits w3layouts">
                    <div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
                        <a href="images/gallery-10.jpg" class="b-link-stripe b-animate-go swipebox agileits w3layouts">
                            <div class="img-box agileits w3layouts">
                                <img src="images/gallery-10.jpg" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
                        <a href="images/gallery-11.jpg" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="images/gallery-11.jpg" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom vertical text-center agileits w3layouts">
                        <a href="images/gallery-12.jpg" class="b-link-stripe b-animate-go agileits w3layouts swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="images/gallery-12.jpg" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 gal-left">
                    <div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
                        <a href="images/gallery-13.jpg" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="images/gallery-13.jpg" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
                        <a href="images/gallery-14.jpg" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="images/gallery-14.jpg" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
                        <a href="images/gallery-15.jpg" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="images/gallery-15.jpg" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
                        <a href="images/gallery-16.jpg" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="images/gallery-16.jpg" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
                        <a href="images/gallery-17.jpg" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="images/gallery-17.jpg" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
                        <a href="images/gallery-18.jpg" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="images/gallery-18.jpg" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
                        <a href="images/gallery-19.jpg" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="images/gallery-19.jpg" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
                        <a href="images/gallery-20.jpg" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="images/gallery-20.jpg" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
                        <a href="images/gallery-21.jpg" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="images/gallery-21.jpg" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
                        <a href="images/gallery-22.jpg" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="images/gallery-22.jpg" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
                        <a href="images/gallery-23.jpg" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="images/gallery-23.jpg" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 agileits w3layouts gal-left">
                    <div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
                        <a href="images/gallery-24.jpg" class="b-link-stripe agileits w3layouts b-animate-go swipebox">
                            <div class="img-box agileits w3layouts">
                                <img src="images/gallery-24.jpg" alt="image" class="img-responsive agileits w3layouts zoom-img">
                            </div>
                            <div class="info-box agileits w3layouts">
                                <div class="info-content agileits w3layouts">
                                    <span class="separator agileits w3layouts"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
                
        </div>
        <!-- //Gallery -->

        <!-- Contact -->
        <div class="contact-us" id="contact">
            <div class="container">

                <h3>Contact</h3>

                <div class="col-md-6 col-sm-6 contact-us-grid contact-grid agileits">
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                    <div class="address">
                        <h4>Address</h4>
                            <ul>
                                <li>Parma Via Modena</li>
                                <li>Sant'Agata Bolognese</li>
                                <li>BO, Italy 40019</li>
                                <li>Mail : <a href="mailto:mail@example.com">info@example.com</a></li>
                            </ul>
                    </div>
                    <div class="phone w3-agile">
                        <h4>Phone</h4>
                        <p>+1 234 456 7890</p>
                        <p>+1 456 789 3450</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 col-sm-6 contact-us-grid contact-grid2 agileits">
                    <form class="contact_form" action="#" method="post">
                        <div class="message">
                            <div class="c1">
                                <input type="text" class="text" name="Name" placeholder="Name" required="">
                                <input type="text" class="text" name="Email" placeholder="Email" required="">
                                <input type="text" class="text" name="Phone" placeholder="Phone" required="">
                            </div>

                            <div class="c1">
                                <textarea name="Message" placeholder="Message" required=""></textarea>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <input type="submit" class="more_btn" value="Send Message">
                    </form>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>
        <!-- //Contact -->



        <!-- Map-iFrame -->
        <div class="map agileits agile">
            <h3>Location</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22702.22744502486!2d11.113366067229226!3d44.662878362361056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477fc3eca9065c15%3A0x12ec8a03aadae866!2s40019+Sant&#39;Agata+Bolognese+BO%2C+Italy!5e0!3m2!1sen!2sin!4v1451281303075" allowfullscreen></iframe>
        </div>
        <!-- //Map-iFrame -->

        <!-- Footer -->
        <div class="footer agileits-w3layouts">
            <div class="container">

                <div class="footer-top w3layouts">
                    <div class="footer-grids w3l-agile">
                        <div class="col-md-3 col-sm-3 address agileinfo">
                            <h5>Address</h5>
                                <ul>
                                    <li>Parma Via Modena</li>
                                    <li>40019</li>
                                    <li>Sant'Agata Bolognese</li>
                                    <li>BO, Italy</li>
                                    <li>Mail : <a href="mailto:mail@example.com">info@example.com</a></li>
                                </ul>
                        </div>
                        <div class="col-md-3 col-sm-3 contact agileinfo">
                            <h5>Phone</h5>
                            <div class="phone">
                                <p>+1 234 456 7890</p>
                                <p>+1 456 789 3450</p>
                            </div>

                            <div class="mail wthree">
                                <form action="#" method="post">
                                    <input type="text" name="Email Address" placeholder="Email Address" required="">
                                    <input type="submit" value="Subscribe">
                                </form>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-6 col-sm-6 connect agileinfo">
                            <h5>Connect</h5>
                            <div class="connect-social w3-agileits">
                                <ul>
                                    <li><a href="#" class="facebook" title="Go to Our Facebook Page"></a></li>
                                    <li><a href="#" class="twitter" title="Go to Our Twitter Account"></a></li>
                                    <li><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></li>
                                    <li><a href="#" class="linkedin" title="Go to Our Linkedin Page"></a></li>
                                    <li><a href="#" class="blogger" title="Go to Our Blogger Account"></a></li>
                                    <li><a href="#" class="tumblr" title="Go to Our Tumblr Page"></a></li>
                                    <li><a href="#" class="rss" title="Go to Our RSS Feed"></a></li>
                                    <li><a href="#" class="vimeo" title="Go to Our Vimeo Channel"></a></li>
                                    <li><a href="#" class="deviantart" title="Go to Our Deviantart Page"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="footer-bottom w3l-agile">
                        <div class="footer-nav w3l">
                            <ul>
                                <li><a class="scroll" href="#">Home</a></li>
                                <li><a class="scroll" href="#about">About</a></li>
                                <li><a class="scroll" href="#services">Services</a></li>
                                <li><a class="scroll" href="#team">Team</a></li>
                                <li><a class="scroll" href="#gallery">Gallery</a></li>
                            </ul>
                        </div>
                        <div class="copyright wthree">
                            <p>&copy; 2016 Capture. All Rights Reserved | Design by <a href="" target="_blank"> W3layouts </a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
        </div>
        <!-- //Footer -->
    <!-- Custom-JavaScript-File-Links -->

        <!-- Supportive-JavaScript --> 
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <!-- Necessary-JS-File-For-Bootstrap --> 
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

        <!-- Banner-Slider-JavaScript -->
        <script src="{% static 'js/responsiveslides.min.js' %}"></script>
        <script>
            $(function () {
                $("#slider1, #slider2, #slider3, #slider4").responsiveSlides({
                    auto: true,
                    nav: true,
                    speed: 800,
                    namespace: "callbacks",
                    pager: true,
                });
            });
        </script>
        <!-- //Banner-Slider-JavaScript -->

        <!-- Slide-To-Top JavaScript (No-Need-To-Change) -->
        <script type="text/javascript">
            $(document).ready(function() {
                var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 100,
                    easingType: 'linear'
                };
                $().UItoTop({ easingType: 'easeOutQuart' });
            });
        </script>
        <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 0;"> </span></a>
        <!-- //Slide-To-Top JavaScript -->

        <!-- Smooth-Scrolling-JavaScript -->
        <script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
        <script type="text/javascript">
                jQuery(document).ready(function($) {
                    $(".scroll, .navbar li a, .footer li a").click(function(event){
                        $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                    });
                });
        </script>
        <!-- //Smooth-Scrolling-JavaScript -->

    <!-- //Custom-JavaScript-File-Links -->

    <script src="{% static 'js/easyResponsiveTabs.js' %}"></script>
    
    <script type="text/javascript">
    $(document).ready(function() {

        //Vertical Tab
        $('#parentVerticalTab').easyResponsiveTabs({
            type: 'vertical', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo2');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });
</script>
    </body>
    <!-- //Body --> 
<!-- Gallery-JavaScript -->
        <script src="{% static 'js/jquery.swipebox.min.js' %}"></script> 
            <script type="text/javascript">
                jQuery(function($) {
                    $(".swipebox").swipebox();
                });
        </script>
        <!-- //Gallery-JavaScript -->
</html>